.hero {
    min-height: 100vh;
    background: linear-gradient(
        rgba(11, 28, 38, 0.75),
        rgba(11, 28, 38, 0.85)
      ),
      url("../img/hero/hero-bg.jpg") center / cover no-repeat;
  
    display: flex;
    align-items: center;
  
    .hero-content {
      max-width: 720px;
    }
  
    h1 {
      font-size: 56px;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 20px;
  
      span {
        color: $accent;
      }
    }
  
    p {
      font-size: 18px;
      color: $text-main;
      margin-bottom: 35px;
    }
  
    .hero-buttons {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
  
    .btn-main {
      background: $accent;
      color: $white;
      padding: 14px 36px;
      border-radius: 40px;
      font-weight: 500;
      transition: $transition;
  
      &:hover {
        background: $accent-hover;
        transform: translateY(-2px);
      }
    }
  
    .btn-outline {
      border: 1.5px solid $accent;
      color: $accent;
      padding: 14px 36px;
      border-radius: 40px;
      font-weight: 500;
      transition: $transition;
  
      &:hover {
        background: $accent;
        color: $white;
      }
    }
    .hero-title {
      font-size: 72px;
      font-weight: 800;
      font-family: 'Montserrat', sans-serif;
      background: linear-gradient(90deg, #ffffff, #00e5ff);
     -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    
  }
  